<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>Todo App</h1>
    <% if(kindOfDay === "Monday"){ %>
        <h2 style="color: purple"> <%= kindOfDay %> List</h2>

        <% } else { %>
        <h2 style="color: purple"> <%= kindOfDay %> List</h2>
        <% } %>
    
    
</body
</html>